@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

.container{
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #171E28;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.rating{
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.estrela {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: hsl(213, 19%, 18%);
    border: none;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.text p{    
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;   
    color: #7c8798;
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form label {
    display: flex;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: #1e2633;
    transition: all 0.3s;
    color: #7c8798;
    font-weight: 700;
    cursor: pointer;
  }
  
  form input[type="radio"] {
    display: none;
  }
  
  form input[type="radio"]:checked + label {
    
    background-color: #7c8798;
    color: #ffffff;
  }
  form input[type="radio"]:hover + label {
    background-color: #fb7413;
    color: #ffffff;
  }

button {
    cursor: pointer;
    color: white;
    font-size: 15px;
    background-color: #fb7413;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    letter-spacing: 3px;
    transition: all 0.3s;
}

button:hover{
    background-color: #ffffff;
    color: #fb7413;
    
}

.rating.toggle {
    display: none;
}